In [22]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.metrics import mean_absolute_error 
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import median_absolute_error
#Import Libraries
from sklearn.ensemble import RandomForestClassifier

In [2]:
data = pd.read_csv("employeeAfterCleaning.csv")

In [3]:
data

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance (Miles),Region,Age,Purchased Bike
0,12496,married,female,40000.0,1,Bachelors,Skilled Manual,YES,0,1,Europe,42.0,NO
1,24107,married,male,30000.0,3,Partial College,Clerical,YES,1,1,Europe,43.0,NO
2,14177,married,male,80000.0,5,Partial College,Professional,NO,2,5,Europe,60.0,NO
3,24381,single,male,70000.0,0,Bachelors,Professional,YES,1,10,Pacific,41.0,YES
4,25597,single,male,30000.0,0,Bachelors,Clerical,NO,0,1,Europe,36.0,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...
999,18283,single,female,100000.0,0,Bachelors,Professional,NO,1,10,Pacific,40.0,NO
1000,19273,married,female,20000.0,2,Partial College,Manual,YES,0,1,Europe,63.0,NO
1001,22400,married,male,10000.0,0,Partial College,Manual,NO,1,1,Pacific,26.0,YES
1002,20942,single,female,20000.0,0,High School,Manual,NO,1,10,Europe,31.0,NO
1003,18484,single,male,80000.0,2,High School,Skilled Manual,NO,2,2,Pacific,50.0,YES

In [4]:
label_encoder = LabelEncoder()
data['Marital Status'] = label_encoder.fit_transform(data['Marital Status'])
data['Gender'] = label_encoder.fit_transform(data['Gender'])
data['Home Owner'] = label_encoder.fit_transform(data['Home Owner'])
data['Purchased Bike'] = label_encoder.fit_transform(data['Purchased Bike'])
data['Education'] = label_encoder.fit_transform(data['Education'])
data['Occupation'] = label_encoder.fit_transform(data['Occupation'])
data['Region'] = label_encoder.fit_transform(data['Region'])

In [5]:
data.corr()

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance (Miles),Region,Age,Purchased Bike
ID,1.000000,0.124544,0.008898,-0.062295,-0.029314,0.061003,-0.017302,-0.142933,0.035071,0.039483,0.034971,-0.044269,0.063568
Marital Status,0.124544,1.000000,-0.096633,-0.078841,-0.138989,0.047102,-0.062021,-0.316372,0.019902,0.019283,-0.018529,-0.208423,0.111318
Gender,0.008898,-0.096633,1.000000,0.043489,-0.007346,0.005020,0.028286,0.007989,0.054836,0.067396,0.074236,0.002058,-0.003308
Income,-0.062295,-0.078841,0.043489,1.000000,0.262625,-0.252640,0.158942,0.033892,0.413403,0.242252,0.306014,0.164463,0.030326
Children,-0.029314,-0.138989,-0.007346,0.262625,1.000000,-0.053054,0.010243,0.161719,0.267091,0.114194,0.065735,0.533535,-0.115772
Education,0.061003,0.047102,0.005020,-0.252640,-0.053054,1.000000,0.022714,-0.108124,0.157338,0.082717,-0.126241,-0.086328,-0.127939
Occupation,-0.017302,-0.062021,0.028286,0.158942,0.010243,0.022714,1.000000,-0.002595,0.067086,0.168525,0.233139,-0.161717,0.005312
Home Owner,-0.142933,-0.316372,0.007989,0.033892,0.161719,-0.108124,-0.002595,1.000000,-0.070338,0.200182,-0.010787,0.116559,-0.013073
Cars,0.035071,0.019902,0.054836,0.413403,0.267091,0.157338,0.067086,-0.070338,1.000000,0.388746,0.262188,0.186375,-0.208358
Commute Distance (Miles),0.039483,0.019283,0.067396,0.242252,0.114194,0.082717,0.168525,0.200182,0.388746,1.000000,0.330796,0.225657,-0.148588
Region,0.034971,-0.018529,0.074236,0.306014,0.065735,-0.126241,0.233139,-0.010787,0.262188,0.330796,1.000000,0.072713,0.048927
Age,-0.044269,-0.208423,0.002058,0.164463,0.533535,-0.086328,-0.161717,0.116559,0.186375,0.225657,0.072713,1.000000,-0.101417
Purchased Bike,0.063568,0.111318,-0.003308,0.030326,-0.115772,-0.127939,0.005312,-0.013073,-0.208358,-0.148588,0.048927,-0.101417,1.000000

In [6]:
X=data.drop(['Income'],axis=1,inplace=False)
X=data.drop(['ID'],axis=1,inplace=False)
y=data['Income']

In [7]:
X

,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance (Miles),Region,Age,Purchased Bike
0,0,0,40000.0,1,0,4,1,0,1,0,42.0,0
1,0,1,30000.0,3,3,0,1,1,1,0,43.0,0
2,0,1,80000.0,5,3,3,0,2,5,0,60.0,0
3,1,1,70000.0,0,0,3,1,1,10,2,41.0,1
4,1,1,30000.0,0,0,0,0,0,1,0,36.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
999,1,0,100000.0,0,0,3,0,1,10,2,40.0,0
1000,0,0,20000.0,2,3,2,1,0,1,0,63.0,0
1001,0,1,10000.0,0,3,2,0,1,1,2,26.0,1
1002,1,0,20000.0,0,2,2,0,1,10,0,31.0,0
1003,1,1,80000.0,2,2,4,0,2,2,2,50.0,1

In [8]:
# y = pd.DataFrame(y)
# y

In [9]:
#Splitting data

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=44, shuffle =True)

#Splitted Data
print('X_train shape is ' , X_train.shape)
print('X_test shape is ' , X_test.shape)
print('y_train shape is ' , y_train.shape)
print('y_test shape is ' , y_test.shape)

X_train shape is  (672, 12)
X_test shape is  (332, 12)
y_train shape is  (672,)
y_test shape is  (332,)

In [10]:
LinearRegressionModel = LinearRegression()#fit_intercept=True, normalize=True,copy_X=True,n_jobs=-1
LinearRegressionModel.fit(X_train, y_train)

LinearRegression()

In [11]:
#Calculating Details
print('Linear Regression Train Score is : ' , LinearRegressionModel.score(X_train, y_train))
print('Linear Regression Test Score is : ' , LinearRegressionModel.score(X_test, y_test))
print('Linear Regression Coef is : ' , LinearRegressionModel.coef_)
print('Linear Regression intercept is : ' , LinearRegressionModel.intercept_)
print('----------------------------------------------------')

Linear Regression Train Score is :  1.0
Linear Regression Test Score is :  1.0
Linear Regression Coef is :  [-8.89964308e-13 -2.32531001e-12  1.00000000e+00  3.72495157e-13
  6.87988239e-13 -6.92922361e-13  1.70023471e-12 -1.42786130e-13
  1.38235743e-13  1.52875439e-12 -4.26925512e-14 -1.21241073e-12]
Linear Regression intercept is :  -1.4551915228366852e-11
----------------------------------------------------

In [12]:

#Calculating Prediction
y_pred = LinearRegressionModel.predict(X_test)

In [13]:
list(y_pred)

[100000.0,
 39999.99999999999,
 19999.999999999985,
 29999.999999999985,
 9999.999999999989,
 29999.999999999985,
 60000.0,
 9999.999999999987,
 59999.99999999999,
 19999.999999999985,
 39999.99999999999,
 60000.0,
 9999.999999999989,
 130000.00000000001,
 19999.99999999999,
 60000.0,
 49999.99999999999,
 80000.0,
 60000.0,
 130000.00000000001,
 80000.0,
 9999.999999999982,
 70000.0,
 39999.99999999999,
 29999.999999999996,
 29999.99999999999,
 70000.0,
 70000.0,
 39999.99999999999,
 29999.99999999999,
 120000.00000000001,
 29999.99999999999,
 60000.0,
 39999.99999999999,
 90000.0,
 49999.99999999999,
 100000.0,
 19999.999999999993,
 39999.99999999999,
 19999.999999999985,
 80000.0,
 70000.0,
 39999.99999999999,
 80000.0,
 29999.99999999999,
 130000.00000000001,
 90000.0,
 80000.0,
 70000.0,
 19999.999999999985,
 9999.999999999987,
 70000.0,
 19999.99999999999,
 19999.99999999999,
 9999.999999999982,
 29999.99999999999,
 60000.0,
 70000.0,
 130000.00000000001,
 29999.999999999993,
 60000.0,
 39999.99999999999,
 9999.999999999989,
 80000.0,
 19999.999999999993,
 70000.0,
 100000.0,
 9999.999999999987,
 70000.0,
 80000.0,
 39999.99999999999,
 39999.99999999999,
 70000.0,
 60000.0,
 39999.99999999999,
 39999.99999999999,
 90000.0,
 39999.99999999999,
 39999.99999999999,
 70000.0,
 9999.999999999984,
 60000.0,
 120000.00000000001,
 90000.0,
 39999.99999999999,
 70000.0,
 29999.99999999999,
 60000.0,
 9999.999999999982,
 29999.99999999999,
 70000.0,
 39999.99999999999,
 29999.999999999996,
 29999.999999999993,
 29999.99999999999,
 19999.999999999985,
 39999.99999999999,
 110000.00000000001,
 80000.0,
 90000.0,
 29999.99999999999,
 59999.99999999999,
 29999.999999999985,
 130000.00000000001,
 59999.99999999999,
 110000.00000000001,
 70000.0,
 70000.0,
 39999.99999999999,
 80000.0,
 130000.00000000001,
 60000.0,
 9999.999999999989,
 39999.99999999999,
 39999.99999999999,
 80000.0,
 120000.00000000001,
 60000.0,
 9999.999999999985,
 29999.99999999999,
 29999.999999999996,
 29999.999999999996,
 19999.999999999985,
 90000.0,
 60000.0,
 39999.99999999999,
 70000.0,
 60000.0,
 39999.99999999999,
 19999.99999999999,
 120000.00000000001,
 29999.999999999993,
 80000.0,
 60000.0,
 39999.99999999999,
 80000.0,
 130000.00000000001,
 80000.0,
 90000.0,
 70000.0,
 39999.99999999999,
 39999.99999999999,
 19999.99999999999,
 70000.0,
 130000.00000000001,
 39999.99999999999,
 70000.0,
 39999.99999999999,
 70000.0,
 120000.00000000001,
 50000.0,
 90000.0,
 39999.99999999999,
 60000.0,
 60000.0,
 49999.99999999999,
 49999.99999999999,
 29999.999999999996,
 70000.0,
 100000.0,
 70000.0,
 9999.999999999984,
 80000.0,
 80000.0,
 70000.0,
 80000.0,
 70000.0,
 70000.0,
 80000.0,
 70000.0,
 29999.999999999985,
 39999.99999999999,
 70000.0,
 9999.999999999985,
 29999.99999999999,
 29999.999999999993,
 29999.999999999993,
 90000.0,
 90000.0,
 60000.0,
 70000.0,
 60000.0,
 39999.99999999999,
 60000.0,
 60000.0,
 9999.99999999999,
 29999.999999999985,
 80000.0,
 49999.99999999999,
 59999.99999999999,
 60000.0,
 120000.00000000001,
 9999.999999999987,
 29999.999999999996,
 9999.999999999989,
 60000.0,
 60000.0,
 90000.0,
 9999.999999999984,
 80000.0,
 90000.0,
 39999.99999999999,
 70000.0,
 29999.99999999999,
 80000.0,
 70000.0,
 29999.999999999996,
 39999.99999999999,
 29999.999999999993,
 70000.0,
 80000.0,
 90000.0,
 60000.0,
 80000.0,
 70000.0,
 100000.0,
 39999.99999999999,
 29999.999999999993,
 110000.0,
 50000.0,
 130000.00000000001,
 29999.99999999999,
 120000.00000000001,
 19999.999999999993,
 39999.99999999999,
 80000.0,
 29999.999999999993,
 70000.0,
 39999.99999999999,
 70000.0,
 29999.999999999996,
 80000.0,
 80000.0,
 60000.0,
 80000.0,
 60000.0,
 9999.999999999985,
 80000.0,
 80000.0,
 29999.999999999985,
 50000.0,
 49999.99999999999,
 70000.0,
 49999.99999999999,
 39999.99999999999,
 60000.0,
 60000.0,
 29999.999999999993,
 59999.99999999999,
 49999.99999999999,
 49999.99999999999,
 90000.0,
 39999.99999999999,
 60000.0,
 70000.0,
 60000.0,
 39999.99999999999,
 60000.0,
 29999.99999999999,
 39999.99999999999,
 39999.99999999999,
 60000.0,
 9999.999999999985,
 19999.99999999999,
 50000.0,
 60000.0,
 60000.0,
 19999.999999999985,
 80000.0,
 60000.0,
 39999.99999999999,
 9999.999999999987,
 60000.0,
 60000.0,
 80000.0,
 19999.99999999999,
 60000.0,
 39999.99999999999,
 9999.999999999985,
 49999.99999999999,
 60000.0,
 90000.0,
 19999.99999999999,
 29999.99999999999,
 29999.99999999998,
 110000.0,
 70000.0,
 29999.99999999999,
 110000.0,
 70000.0,
 120000.00000000001,
 70000.0,
 39999.99999999999,
 19999.99999999999,
 39999.99999999999,
 60000.0,
 90000.0,
 39999.99999999999,
 60000.0,
 29999.99999999999,
 80000.0,
 39999.99999999999,
 100000.0,
 49999.99999999999,
 19999.99999999999,
 60000.0,
 49999.99999999999,
 70000.0,
 60000.0,
 39999.99999999999,
 59999.99999999999,
 60000.0,
 80000.0,
 60000.0,
 39999.99999999999,
 70000.0,
 100000.00000000001,
 90000.0,
 19999.99999999999,
 39999.99999999999,
 29999.999999999985,
 29999.999999999993,
 70000.0,
 60000.0,
 110000.00000000001,
 130000.00000000001,
 39999.99999999999,
 90000.0,
 60000.0,
 49999.99999999999,
 80000.0,
 39999.99999999999]

In [14]:
list(y_test)

[100000.0,
 40000.0,
 20000.0,
 30000.0,
 10000.0,
 30000.0,
 60000.0,
 10000.0,
 60000.0,
 20000.0,
 40000.0,
 60000.0,
 10000.0,
 130000.0,
 20000.0,
 60000.0,
 50000.0,
 80000.0,
 60000.0,
 130000.0,
 80000.0,
 10000.0,
 70000.0,
 40000.0,
 30000.0,
 30000.0,
 70000.0,
 70000.0,
 40000.0,
 30000.0,
 120000.0,
 30000.0,
 60000.0,
 40000.0,
 90000.0,
 50000.0,
 100000.0,
 20000.0,
 40000.0,
 20000.0,
 80000.0,
 70000.0,
 40000.0,
 80000.0,
 30000.0,
 130000.0,
 90000.0,
 80000.0,
 70000.0,
 20000.0,
 10000.0,
 70000.0,
 20000.0,
 20000.0,
 10000.0,
 30000.0,
 60000.0,
 70000.0,
 130000.0,
 30000.0,
 60000.0,
 40000.0,
 10000.0,
 80000.0,
 20000.0,
 70000.0,
 100000.0,
 10000.0,
 70000.0,
 80000.0,
 40000.0,
 40000.0,
 70000.0,
 60000.0,
 40000.0,
 40000.0,
 90000.0,
 40000.0,
 40000.0,
 70000.0,
 10000.0,
 60000.0,
 120000.0,
 90000.0,
 40000.0,
 70000.0,
 30000.0,
 60000.0,
 10000.0,
 30000.0,
 70000.0,
 40000.0,
 30000.0,
 30000.0,
 30000.0,
 20000.0,
 40000.0,
 110000.0,
 80000.0,
 90000.0,
 30000.0,
 60000.0,
 30000.0,
 130000.0,
 60000.0,
 110000.0,
 70000.0,
 70000.0,
 40000.0,
 80000.0,
 130000.0,
 60000.0,
 10000.0,
 40000.0,
 40000.0,
 80000.0,
 120000.0,
 60000.0,
 10000.0,
 30000.0,
 30000.0,
 30000.0,
 20000.0,
 90000.0,
 60000.0,
 40000.0,
 70000.0,
 60000.0,
 40000.0,
 20000.0,
 120000.0,
 30000.0,
 80000.0,
 60000.0,
 40000.0,
 80000.0,
 130000.0,
 80000.0,
 90000.0,
 70000.0,
 40000.0,
 40000.0,
 20000.0,
 70000.0,
 130000.0,
 40000.0,
 70000.0,
 40000.0,
 70000.0,
 120000.0,
 50000.0,
 90000.0,
 40000.0,
 60000.0,
 60000.0,
 50000.0,
 50000.0,
 30000.0,
 70000.0,
 100000.0,
 70000.0,
 10000.0,
 80000.0,
 80000.0,
 70000.0,
 80000.0,
 70000.0,
 70000.0,
 80000.0,
 70000.0,
 30000.0,
 40000.0,
 70000.0,
 10000.0,
 30000.0,
 30000.0,
 30000.0,
 90000.0,
 90000.0,
 60000.0,
 70000.0,
 60000.0,
 40000.0,
 60000.0,
 60000.0,
 10000.0,
 30000.0,
 80000.0,
 50000.0,
 60000.0,
 60000.0,
 120000.0,
 10000.0,
 30000.0,
 10000.0,
 60000.0,
 60000.0,
 90000.0,
 10000.0,
 80000.0,
 90000.0,
 40000.0,
 70000.0,
 30000.0,
 80000.0,
 70000.0,
 30000.0,
 40000.0,
 30000.0,
 70000.0,
 80000.0,
 90000.0,
 60000.0,
 80000.0,
 70000.0,
 100000.0,
 40000.0,
 30000.0,
 110000.0,
 50000.0,
 130000.0,
 30000.0,
 120000.0,
 20000.0,
 40000.0,
 80000.0,
 30000.0,
 70000.0,
 40000.0,
 70000.0,
 30000.0,
 80000.0,
 80000.0,
 60000.0,
 80000.0,
 60000.0,
 10000.0,
 80000.0,
 80000.0,
 30000.0,
 50000.0,
 50000.0,
 70000.0,
 50000.0,
 40000.0,
 60000.0,
 60000.0,
 30000.0,
 60000.0,
 50000.0,
 50000.0,
 90000.0,
 40000.0,
 60000.0,
 70000.0,
 60000.0,
 40000.0,
 60000.0,
 30000.0,
 40000.0,
 40000.0,
 60000.0,
 10000.0,
 20000.0,
 50000.0,
 60000.0,
 60000.0,
 20000.0,
 80000.0,
 60000.0,
 40000.0,
 10000.0,
 60000.0,
 60000.0,
 80000.0,
 20000.0,
 60000.0,
 40000.0,
 10000.0,
 50000.0,
 60000.0,
 90000.0,
 20000.0,
 30000.0,
 30000.0,
 110000.0,
 70000.0,
 30000.0,
 110000.0,
 70000.0,
 120000.0,
 70000.0,
 40000.0,
 20000.0,
 40000.0,
 60000.0,
 90000.0,
 40000.0,
 60000.0,
 30000.0,
 80000.0,
 40000.0,
 100000.0,
 50000.0,
 20000.0,
 60000.0,
 50000.0,
 70000.0,
 60000.0,
 40000.0,
 60000.0,
 60000.0,
 80000.0,
 60000.0,
 40000.0,
 70000.0,
 100000.0,
 90000.0,
 20000.0,
 40000.0,
 30000.0,
 30000.0,
 70000.0,
 60000.0,
 110000.0,
 130000.0,
 40000.0,
 90000.0,
 60000.0,
 50000.0,
 80000.0,
 40000.0]

In [15]:

#----------------------------------------------------
#Calculating Mean Absolute Error
MAEValue = mean_absolute_error(y_test, y_pred, multioutput='uniform_average') # it can be raw_values
print('Mean Absolute Error Value is : ', MAEValue)

#----------------------------------------------------
#Calculating Mean Squared Error
MSEValue = mean_squared_error(y_test, y_pred, multioutput='uniform_average') # it can be raw_values
print('Mean Squared Error Value is : ', MSEValue)

#----------------------------------------------------
#Calculating Median Absolute Error
MdSEValue = median_absolute_error(y_test, y_pred)
print('Median Absolute Error Value is : ', MdSEValue )

Mean Absolute Error Value is :  5.3747849544532685e-12
Mean Squared Error Value is :  6.064330153476113e-23
Median Absolute Error Value is :  7.275957614183426e-12